
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>
@model Microservice.Web.Models.Account.ChangePassword;

<div class="row">
    <form method="post" asp-controller="Account" asp-action="post" >


    </form>    
</div>

