
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
@model Microservice.Web.Models.Account.Login;

<div class="row">
    <div class="col-md-4">
        <h4>Login using your email address and password</h4>
        <h5>
            <a asp-controller="Account" asp-action="Signup">
                If you are not a member, please sign up here
            </a>
        </h5>
        <hr />
        <form method="post" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m=> m.RememberMe)
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="form-group">
                <a asp-controller="Account" asp-action="ForgotPassword">
                    Forgot your password?
                </a>
            </div>
        </form>
    </div>
</div>



